            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="addjob"><i class="fa fa-table fa-fw"></i> Add Application</a>
                        </li>
                        <li>
                            <a href="lists"><i class="fa fa-table fa-fw"></i> Applied List</a>
                        </li>
                        <li>
                            <a href="login"><i class="fa fa-edit fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>